Welcome {{account.name}},

{{admin.name}} has created an account for your on the {{hostname}} cloudstead.

Please login here: https://{{hostname}}/

Your account name is: {{account.name}}
Your initial password is: {{password}}

To change your password, login and click on Settings.

Happy Cloudsteading!
