<script type="text/x-handlebars" id="change_password_modal">
	{{#modal-dialog small=true}}
		<div class="row modal-filler">
			<legend>{{name}}: {{t forms.account.change_password}}</legend>
		</div>
		<div class="row modal-content">
				<div class="large-12 columns" style="padding-bottom:50px; padding-top: 40px;">
					<form {{action 'doChangePassword' on="submit"}}>
						<div class="field-container">
							<label>{{t forms.account.old_password}}
								<div>
									{{#if requestMessages.error.oldPassword}}
										{{input type="password" value=oldPassword class="error"}}
										<span class="message error">{{requestMessages.error.oldPassword}}</span>
									{{else}}
										{{input type="password" value=oldPassword}}
									{{/if}}
								</div>
							</label>
						</div>
						<div class="field-container">
							<label>{{t forms.account.new_password}}
								<div>
									{{#if requestMessages.error.newPassword}}
										{{input type="password" value=newPassword class="error"}}
										<span class="message error">{{requestMessages.error.newPassword}}</span>
									{{else}}
										{{input type="password" value=newPassword}}
									{{/if}}
								</div>
							</label>
						</div>
						<div class="field-container">
							<div class="row">
								<div class="large-5 columns">
										<button type="submit" class="alert expand" {{action 'doCloseModal'}}>{{t forms.verification.cancel_button}}</button>
								</div>
								<div class="large-6 columns">
									<button type="submit" class="secondary expand" {{action 'doChangePassword'}}>{{t forms.account.change_password}}</button>
								</div>
							</div>
						</div>
					</form>
				</div>
		</div>
		<div class="row modal-filler">
			&nbsp;
		</div>
	{{/modal-dialog}}
</script>
