<script type="text/x-handlebars" id="index">
	<section class="deck">
		<div class="row text-center">
		<h4>{{ t sections.index_page.section_title }}</h4>
		</div>
		<div class="circles row text-center">
			{{#each app in arrangedContent itemController='available_app'}}
				<div class="large-4 medium-6 columns app_circle">
					{{#link-to 'app' app.name}}
						<div class="circle"><img {{bind-attr src=app.icon}} alt=""/></div>
						<h3 class="gamma light">{{app.appName}}</h3>
					{{/link-to}}
				</div>
			{{/each}}
		</div>
		{{outlet modal}}
	</section>
</script>
