Em.I18n.translations = {
	app: {
		title: 'cloudstead.io'
	},
	sections: {
		setup: 'Setup Cloudstead and Initial User',

		admin: 'Admin',

		login: 'Sign In',
		logout: 'Sign Out',
		new_admin_account: 'Create Your Admin Account',
		login_two_factor: 'Sign-In Verification',
		reset_password: 'Reset Password',

		apps: 'My Cloud Apps',
		appstore: 'AppStore',
		appstr: {
			available_apps: "Available Apps",
			installed_apps: "Installed Apps",
			apps:{
				mail:{
					caption: "Mail",
					description: "Spam protection, powerful search and integrated calendars help you get more done, no ads and plenty of storage."
				},
				files:{
					caption: "Files",
					description: "Save files, access them from any device and share them instantly with teammates. No more sending attachments or merging different versions."
				},
				calendar:{
					caption: "Calendar",
					description: "Spend less time planning and more time doing with shareable calendars that integrate seamlessly so you always know what's next."
				},
				kanban:{
					caption: "Kanban",
					description: "Organize and track your project activities."
				},
				phplist:{
					caption: "PHPList",
					description: "Open Source software for managing mailing lists."
				},
				phabricator:{
					caption: "Phabricator",
					description: "An Open Source collection of web applications which help software companies build better software."
				},
				jira:{
					caption: "JIRA",
					description: "Issue & project tracking software from Atlassian."
				},
				gitlab:{
					caption: "Gitlab",
					description: "Open Source code collaboration software."
				},
				kandan:{
					caption: "Kandan",
					description: "A private Chat server that is an Open Source alternative to HipChat."
				}
			},
		},

		accounts: 'Accounts',
		acct: {
			users : 'Users',
			groups : 'Groups',
			permissions : 'App Permissions',
			bulk: {
				edit : 'Edit Selected',
				toggle_status: 'Toggle Selected Status',
				delete : 'Delete Selected'
			},
			status: {
				active: 'Active',
				suspended: 'Suspended',
				admin: 'Admin'
			},
			tooltip:{
				download_csv : 'Download List',
				addrm_cols : 'Add/Remove Columns',
				filter_user : 'Filter By User',
				add_user : 'Add User'
			},
			table:{
				group_name: "Group name",
				description: "Description",
				group_email_address: "Group Email Address",
				group_admin: "Group Admin",
				member_count: "Member Count",
				status: "Status",
				file_storage_used: "File Storage Used",
				total_storage_available: "Total Storage Available"
			}
		},
		add_account: 'Add a New Account',
		manage_account: 'Manage Account',

		email: {
			main: 'Email',
			domains: 'Domains',
			aliases: 'Groups',
			primaryDomain: 'Primary Domain',
			mxrecord: "Your cloudstead's MX record"
		},
		add_domain: 'Add a New Email Domain',
		add_alias: 'Add a New Email Group',
		edit_alias: 'Update Email Group',

		security: {
			main: 'Security',
			certs: 'SSL Certificates'
		},
		add_cert: 'Add SSL Certificate',
		overwrite_cert: 'Overwrite SSL Certificate',

		settings: 'Settings',

		add_group: "Create a new Group",
		edit_group: "Modify Group",
		profile: "Profile"
	},
	apps: {
		email: 'Email',
		calendar: 'Calendar',
		files: 'Files'
	},
	menu:{
		accounts: 'User Accounts',
		emaildom: 'Email Domain',
		securitycert: 'Security Certificates',
		defaultapps: 'Default Apps',
		appstore: 'AppStore',
		settings: 'Change Password',
		profile: "Profile",
		search: "Search",
		help: {
			online: "Online Help",
			news: "What's New",
			status: "Service Status",
			ticket: "Open support ticket"
		},
		cloudstead: {
			label: "CLOUDSTEAD SETTINGS",
			other_label: "OTHER APPLICATIONS",
			confluence: "Confluence Administration",
			jira: "Jira Administration",
			phabricator: "Phabricator Admninistration"
		}
	},
	forms: {
		setup: {
			accountName: 'Your user account name (will be admin)',
			initialPassword: 'Your password on cloudstead.io',
			password: 'New Password',
			password2: 'Confirm Password',
			setup_button: 'Setup',
			time_zone: 'Select Time Zone',
			mobilePhoneCountryCode : 'Mobile Phone Country Code',
			mobilePhone : 'Mobile Phone',
			recoveryEmail : 'Recovery Email',
			firstName: 'First Name',
			lastName: 'Last Name'
		},
		login: {
			username: 'Username',
			password: 'Password',
			password2: 'Confirm Password',
			login_button: 'Sign In',
			new_admin_account_button: 'Create Admin Account',
			forgot_password: 'I forgot my password'
		},
		account: {
			account_name: 'Account Name',
			recovery_email: 'Recovery Email',
			mobile_phone: 'Mobile Phone',
			mobile_phone_country: 'Country Code',
			add_account: 'Add New Account',
			add_button: 'Create Account',
			update_button: 'Update Account',
			delete_button: 'Delete Account',
			username: 'Username',
			password: 'Password',
			retype_password: 'Retype Password',
			sys_gen_password: 'System Generated Password',
			email: 'Email',
			primary_group: 'Primary Group',
			first_name: 'First Name',
			last_name: 'Last Name',
			send_invitation: 'Send Invitation',
			two_factor_auth: 'Two-factor Auth',
			tot_storage_qt : 'Total Storage Quota',
			aliases: 'Aliases',
			groups: 'Groups',
			add_another: 'Add Another',
			add_user: 'Add User',
			update_user: 'Update User',
			cancel: 'Cancel',
			change_password: 'Change password',
			new_password: 'New password',
			old_password: 'Old password'
		},
		group:{
			name: 'Group Name',
			recipients: 'Group Members',
			quota: 'Storage Quota',
			description: 'Description',
			add_button: 'Add Group',
			cancel: 'Cancel',
			edit_button: "Update Group",
			delete_button: "Delete"
		},
		email: {
			domain_to_add: 'Domain',
			add_domain: 'Add Domain',
			remove_domain: 'Remove Domain',
			alias: {
				name: 'Email Group Name',
				recipients: 'Deliver to Accounts',
				add_button: 'Add Email Group',
				edit_button: 'Edit Email Group',
				delete_button: 'Remove Email Group',
			}
		},
		security: {
			certs: {
				name: 'Name',
				description: 'Description',
				commonName: 'Common Name',
				pem: 'Certificate PEM Data',
				key: 'Certificate Key Data',
				add_button: 'Add Certificate',
				overwrite_button: 'Overwrite Certificate',
				delete_button: 'Remove Certificate'
			}
		},
		installApp: {
			install_button: 'Install Now',
			install_from_url: 'Install app from URL'
		},
		settings: {
			change_password_header: 'Change Password',
			current_password: 'Current Password',
			new_password: 'New Password',
			new_password2: 'Confirm New Password',
			change_password_button: 'Change Password'
		},
		verification:{
			verify_code : 'Verification Code',
			verify_info : 'What is this?',
			verify_submit: 'Submit',
			verify_msg: 'You should receive an SMS message containing an Authy token for two-factor authenticatoin to cloudstead.io at the mobile number you submitted on the previous screen. Please enter the code you receive and click \'Submit\' below to complete your account setup.',
			cancel_button: 'Cancel'
		},
		profile:{
			username: "Username",
			email: "Email",
			first_name: "First Name",
			last_name: "Last Name",
			recovery_email: "Recovery Email",
			mobile_phone: "Mobile Phone",
			commit_changes: "Commit Changes",
			cancel: 'Reset Changes',
			change_password: "Change Password"
		},
		reset_password:{
			submit: "Set new password"
		}
	},
	alerts: {
		username_empty: 'Please enter a username',
		password_too_short: 'Your password must be at least 6 characters long',
		password_mismatch: 'The passwords did not match'
	},
	paragraphs: {
		new_admin_account: 'Please create a password to protect your configuration.',
		no_clouds_defined: 'Let\'s set up your cloud accounts. Choose one of the cloud providers listed below to continue.',
		no_cloud_types_defined: 'No cloud types were defined. Please install the latest version to get more clouds.', // should never happen
		no_apps_found: 'No apps were found. Try another search.',
		app_cloud_price_quote: 'Your estimated monthly cost is:',
		no_accounts_found: 'No accounts found',
		email: {
			domains: 'Route email for your custom domain name to this cloudstead:<br><ul><li>Add domain names here that this cloudstead will handle mail for</li><li>Edit your DNS for the domain and set the MX record to the name shown above</li></ul>',
			aliases: 'Create a group email address. For example, you may want email sent to support@yourdomain.com to be delivered to multiple mailboxes.'
		}
	},
	appNames: {
		email: 'email',
		calendar: 'calendar',
		files: 'files',
		kanban: 'kanban',
		phabricator: 'phabricator'
	},
	cloudTypes: {
		VboxCloudType: {
			name: 'Virtual Box',
			preamble: 'You must have VirtualBox installed to continue.<br/><br/>If you don\'t have it installed, please <a href="https://www.virtualbox.org/wiki/Downloads">download and install VirtualBox</a> now.',
			options: {
				resource_name: 'Name',
				cloud_user: 'User',
				initial_ssh_key: 'Initial SSH Key',
				vbox_template_vm: 'Template VM'
			}
		},
		AwsCloudType: {
			name: 'Amazon',
			preamble: 'You must have an Amazon AWS account to continue.<br/><br/>If you don\'t have one, please <a href="https://portal.aws.amazon.com/gp/aws/developer/registration/index.html">setup your Amazon AWS account</a> now.',
			options: {
				resource_name: 'Name',
				cloud_account_id: 'AWS Access Key',
				cloud_account_secret: 'AWS Secret Key',
				cloud_user: 'User',
				initial_ssh_key: 'Initial SSH Key',
				cloud_region: 'Region',
				cloud_instance_size: 'Instance Type'
			}
		}
	},
	task: {
		'{appInstall.installingPackage}': 'Installing package',
		'{appInstall.installingApp}': 'Installing app',
		events: {
			'{appInstall.downloadingTarball}': 'Downloading package',
			'{appInstall.error.downloadingTarball}': 'Error downloading package',
			'{appInstall.unpackingTarball}': 'Unpacking package',
			'{appInstall.error.unpackingTarball}': 'Error unpacking package',
			'{appInstall.readingManifest}': 'Reading package manifest',
			'{appInstall.error.readingManifest}': 'Error reading package manifest',
			'{appInstall.loadingPlugin}': 'Loading plugin',
			'{appInstall.error.loadingPlugin}': 'Error loading plugin',
			'{appInstall.creatingHostname}': 'Creating hostname',
			'{appInstall.error.creatingHostname}': 'Error creating hostname',
			'{appInstall.verifyingChefCookbooks}': 'Verifying cookbooks',
			'{appInstall.error.verifyingChefCookbooks.invalidRecipe}': 'Invalid cookbook recipe',
			'{appInstall.copyingChefCookbooks}': 'Copying cookbooks',
			'{appInstall.error.copyingChefCookbooks}': 'Error copying cookbooks',
			'{appInstall.notifyingChefToRun}': 'Installing app',
			'{appInstall.error.notifyingChefToRun}': 'Installing app',
			'{appInstall.waitingForChefToComplete}': 'Waiting for installation to complete',
			'{appInstall.error.waitingForChefToComplete}': 'Error waiting for installation to complete',
			'{appInstall.error.waitingForChefToComplete.timeout}': 'Timeout waiting for installation to complete',
			'{appInstall.recordingInstallation}': 'Finalizing installation',
			'{appInstall.error.recordingInstallation}': 'Error finalizing installation'
		}
	},
	errors: {
		field_required: 'This field is required',
		email_invalid: 'Email is invalid',
		auth_invalid: 'Invalid username/password',
		account_name_invalid: 'Invalid account name, only letters and numbers allowed, must begin with a character',
		password_mismatch: 'Password mismatch',
		password_short: 'Password must be at least 8 characters long',
		password_incorrect: 'Incorrect password',
		cloudosname_short: 'CloudOS name must be at least 4 characters long',
		cloudos_reserverd : 'Please use different cloudOs name',
		two_factor_code_invalid: 'Invalid verification code'
	},
	header: {
		search: "Search",
		info: {
			help: "Online Help",
			news: "What's New",
			status: "Service Status",
			ticket: "Open support ticket"
		},
		user: {
			profile: "Profile"
		}
	},
	notifications: {
		forgot_password_email_sent: "You have been sent an email with a link for reseting your password.",
		reset_password_successful: "Your password was changed successfuly. You will be redirected to login in"
	}
};
