Em.I18n.translations = {
    app: {
        title: 'cloudstead.io'
    },
    sections: {
        login: 'FR>Sign In',
        myapps: 'FR>Mes Apps du Cloud',
        appstore: 'FR>Le Cloud AppRuntime Store',
        settings: 'FR>Configuration'
    }
};