<script type="text/x-handlebars" id="account-col-toggle">
	<ul id="acct-col-submenu" class="f-dropdown" data-dropdown-content>
		<li>
			<a href="#">
				<span class="icon-check"> Full Name</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-check"> Last Login</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-check"> Email Address</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-check"> Recovery Email</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-check"> Mobile</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-check"> Status</span>
			</a>
		</li>
	</ul>
</script>
