<script type="text/x-handlebars">
	<section class="app-bar">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>
						<a class="brand" href="#">{{t app.title}}</a>
					</h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#">
						<span></span>
					</a>
				</li>
			</ul>
			{{#if cloudos_account}}
				<section class="top-bar-section">
					<ul class="right">
						<li class="has-dropdown">
							<a href="#">
								<span class="icon-question-circle">
									<span class="caption-for-icon show-for-small">{{t menu.help.caption}}</span>
								</span>
								<span class="show-for-xxlarge-up">{{t menu.help.caption}}</span>
							</a>
							<ul class="dropdown">
								<li>
									<a href=" http://www.cloudstead.io/blog/" target="_blank">{{t menu.help.news}}</a>
								</li>
								<li>
									<a href="http://cloudstead.uservoice.com/" target="_blank">{{t menu.help.ticket}}</a>
								</li>
								<li>
									{{#link-to "valet_keys"}}
										{{t sections.security.valet_keys}}
									{{/link-to}}
								</li>
							</ul>
						</li>
						{{#if cloudos_account.admin}}
							<li class="has-dropdown">
								<a href="#" data-dropdown="settings-submenu" data-options="align:left">
									<span class="icon-gear">
										<span class="caption-for-icon show-for-small">{{t menu.settings}}</span>
									</span>
									<span class="show-for-xxlarge-up">{{t menu.settings}}</span>
								</a>
								<ul class="dropdown">
									<li><a href="/admin.html#/accounts">{{t menu.accounts}}</a></li>
									<li><a href="/admin.html#/appstore">{{t menu.appstore}}</a></li>
									<li><a href="/admin.html#/security/certs">{{t menu.sys_settings}}</a></li>
								</ul>
							</li>
						{{/if}}
						<li class="has-dropdown">
							<a href="#" data-dropdown="user-submenu" data-options="align:left">
								<span class="icon-user"><span class="caption-for-icon show-for-small">User</span></span>
								<span class="show-for-xxlarge-up">User</span>
							</a>
							<ul class="dropdown">
								<li><a href="/#/profile">{{t menu.profile}}</a>
								<li><a href="/#/settings">{{t menu.settings}}</a></li>
								<li class="divider"></li>
								<li>{{#link-to 'logout'}}{{t sections.logout}}{{/link-to}}</li>
							</ul>
						</li>
					</ul>
					<ul class="nav-apps">
						{{#each app in cloudos_account.availableApps itemController="eapp"}}
							<li>
								<a {{action 'select_app' app.name}} {{bind-attr title=app.taskbarIconCaption}} class="toolbar_link">
									{{#if hasTaskbarIcon}}
										<span class="icon_bar_link">
											<img {{bind-attr src="app.assets.taskbarIconUrl"}} {{bind-attr alt=app.taskbarIconCaption}} class="toolbar_icon hide-for-small" />
										</span>
									{{else}}
										<span class="hide-for-small">{{app-name taskbarIconCaption}}</span>
									{{/if}}
									<span class="show-for-small">{{app-name taskbarIconCaption}}</span>
								</a>
							</li>
							{{#if addSeparator}}
								<li><span class="apps-icon-divider hide-for-small">|</span></li>
							{{/if}}
						{{/each}}
					</ul>
				</section>
				<section class="top-bar-section show-for-medium-up right">
					<div class="row">
						<div class="large-12 columns">
							<div class="row collapse">
								<div class="small-10 columns">
									<input type="text" placeholder="">
								</div>
								<div class="small-2 columns">
									<a href="#" class="button tiny" style="top:0px;"><span class="icon-search"></span> <span class="show-for-xxlarge-up">Search</span></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			{{/if}}
		</nav>
	</section>
	{{outlet}}
	{{outlet 'modal'}}
</script>
