<script type="text/x-handlebars" id="app_settings">
		<section class="deck account-deck">
			<div class="row admin-row">
				<div class="large-12 medium-centered columns">
					<h1>{{ t sections.sys_settings }}</h1>
					<div class="button-bar">
						<ul class="button-group">
							<li>
								{{#link-to "security" classNames="button tiny"}}
									{{t sections.security.certs}}
								{{/link-to}}
							</li>
							<li>
								{{#link-to "valet_keys" classNames="button tiny"}}
									{{t sections.security.valet_keys}}
								{{/link-to}}
							</li>
							<li>
								{{#link-to "email.domains" classNames="button tiny"}}
									{{t menu.emaildom}}
								{{/link-to}}
							</li>
							<li>
								<a class="button tiny alert">{{t sections.security.app_settings}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="medium-10 large-10 medium-centered columns">
				<ul>
					{{#each category in arrangedContent}}
						<li>
							{{#link-to 'app_setting' category }}
								{{ category }}
							{{/link-to}}
						</li>
					{{/each}}
				</ul>
			</div>
</script>
