<script type="text/x-handlebars" id="appstore">
	<section class="deck">
		<div class="row">
			{{input type="text"
			name="searchInput"
			id="searchInput"
			value=search
			placeholder="Search"
			insert-newline="search"}}
			<div class="tabs-content">
				<div class="content active">
					<div class="circles row text-center">
						{{#each app in arrangedContent}}
							<div class="large-4 medium-6 columns app_circle">
								{{#link-to 'selectedapp' app.name}}
									<h3 class="gamma light app_title">{{app.name}}</h3>
									<div class="app_img_holder">
										<img {{bind-attr src=app.smallIcon}} alt=""
											 class="app_img"
											 onerror="this.onerror=null;this.src='/images/default_app.png'" />
									</div>
									<div class="app_short_desc">
									<p>{{app.description}}</p>
									</div>
								{{/link-to}}
							</div>
						{{/each}}
					</div>
					{{#if morePagesAvailable}}
					<a {{action 'loadNextPage'}}>More Apps</a>
					{{/if}}
				</div>
			</div>
		</div>
		{{outlet modal}}
	</section>
</script>
