<script type="text/x-handlebars" id="group">
	<section class="deck">
		<div class="row large-4">
			<form {{action 'doEditGroup' on="submit"}}>
			<fieldset class="wrap-set">
				<legend>{{t sections.edit_group}}</legend>
					<div class="row">
						<label>{{t forms.group.name}}
						{{#if requestMessages.error.name}}
							{{input type="text" value=name class="error"}}
							<span class="message error">{{requestMessages.error.name}}</span>
						{{else}}
							{{input type="text" value=name}}
						{{/if}}
						</label>
					</div>
					<div class="row">
						<label>{{t forms.group.recipients}}
						{{#if requestMessages.error.recipients}}
							{{input type="text" value=recipients class="error"}}
							<span class="message error">{{requestMessages.error.recipients}}</span>
						{{else}}
							{{input type="text" value=recipients}}
						{{/if}}
						</label>
					</div>
					<div class="row right">
						<div class="large-12 columns large-right no-padding">
							<button type="submit" class="small right left-margin-small">{{t forms.group.edit_button}}</button>
							<button type="submit" class="small right left-margin-small" {{action 'doCancel'}}>{{t forms.group.cancel}}</button>
						</div>
					</div>
			</fieldset>
		</div>
	</section>
</script>
