@CHARSET "UTF-8";

#app-navigation+#app-content #controls {
	left: 230px;
}

#content {
	margin-top:10px;
	height: 97%;
}

#controls {
	top : 5px;
	width: 70%;
}

#content-wrapper {
	padding-top: 0px;
}

#header {
	display: none;
}

.contacts-button {
	margin: 10px;
}
.contacts-button a {
	height: 36px;
	display: inline-block;
	box-sizing: border-box;
	margin: 0px;
}

.app-gallery #controls {
	margin-top: 45px;
}
